span{
    color: rgb(30, 4, 122);
    margin-top: 20%;
    
}

#r{
    color: rgb(250, 26, 26);
}
/* h6{
    font-family: Arial, Helvetica, sans-serif;
   
} */
p{
    font-size: xx-small;
    
    
}

input{
    font-size: xx-small;
}

button{
    background-color: rgb(62, 207, 212);
    color: aliceblue;
    width: 10%;
    font-size: xx-small;
    margin-left: 6%;
}